.navbar-light .navbar-nav .nav-link {
    color: #212529!important;
  }
  
.nav-link {
    width: 100px;
    text-align: center;
    float: right;
}

.burger {
    position: absolute;
    right: 25px;
    top: 10px;
}


#webapp_cover {
    /* position: absolute;
    top: 50%;
    right: 0;
    left: 0; */
    width: 39px;
    margin: 0 auto;
    margin-top: 4px;
    /* transform: translateY(-50%) scale(2); */
  }
  
  #menu_button {
    width: 39px;
    overflow: hidden;
  }
  
  #menu_checkbox {
    display: none;
  }
  
  #menu_label {
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
  }
  
  #menu_label:before,
  #menu_label:after,
  #menu_text_bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #000;
  }
  
  #menu_label:before,
  #menu_label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  
  #menu_label:before {
    top: 0;
  }
  
  #menu_label:after {
    top: 12px;
  }
  
  #menu_text_bar {
    top: 24px;
  }
  
  #menu_text_bar:before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  #menu_checkbox:checked + #menu_label:before {
    left: -39px;
  }
  
  #menu_checkbox:checked + #menu_label:after {
    left: 39px;
  }
  
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
      shakeWhileMovingUp 0.8s ease 0.2s forwards,
      shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }

  @keyframes moveUpThenDown {
    0% {
      top: 0;
    }
    50% {
      top: -27px;
    }
    100% {
      top: -14px;
    }
  }
  
  @keyframes shakeWhileMovingUp {
    0% {
      transform: rotateZ(0);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(10deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
  
  @keyframes shakeWhileMovingDown {
    0% {
      transform: rotateZ(0);
    }
    80% {
      transform: rotateZ(3deg);
    }
    90% {
      transform: rotateZ(-3deg);
    }
    100% {
      transform: rotateZ(0);
    }
}


/* // None bootstrap menu */

#navbar {
  position: sticky;
	top: 0;
}

.nav {
  position: fixed;
  right: 0;
  width: 100%;
  top:10%
}

.ulNavToHide {
  display: none;
}
.ulNavToShow {
  color: #fff;
  z-index: 999;
  list-style-type: none;
  margin: 0 auto;
}

.removeScrollBar {
  overflow-y: hidden;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  right: 5px;
  top: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0.6;
  text-align: center;
}
.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}
.nav-tgl > span:before, .nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
  transition: all 200ms;
}
.nav-tgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}
.nav-tgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}
.nav-tgl:focus {
  outline: none;
}
.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}
.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 55px);
  visibility: hidden;
}
.menu.active .nav:before {
  visibility: visible;
  clip-path: circle(100%);
}
.menu.active .nav-tgl > span {
  height: 0;
}
.menu.active .nav-tgl > span:after, .menu.active .nav-tgl > span:before {
  top: 0px;
  left: 0;
  width: 34px;
}
.menu.active .nav-tgl > span:after {
  transform: rotate(-45deg);
}
.menu.active .nav-tgl > span:before {
  transform: rotate(45deg);
}

@media (max-width: 992px) { 
  .nav-link {
    width: 190px;
    font-size: 32px;
    color: #ffffff!important;
  }
}

